{% extends "base.html" %}

{% block content %}
<!-- Search form -->
  {% include "post_app/search_form.html" %}<br>
  <hr>
<!-- Post form -->
  {% if not request.GET.q %}
    <div class="row mb-4">
      <!-- form_id = 'post-form' added to connect with ajax request. -->
      {% include "post_app/forms.html" with form=create_form action_url=create_url btn_title='Post' form_id='post-form' %}
    </div>
  {% endif %}
  <hr>
<!-- Links to Api -->
  <p>
    <a href="{% url 'posts_api:post_list_api' %}">Post List Api</a> |
    <a href="{% url 'posts_api:post_create_api' %}">Post Create Api</a>
  </p>
  <hr>
<!-- Ajax experiment -->
<div id="post-container" data-url='/api/posts/'>

</div>
<!-- Load more note that we actually do not need the href for load more to work. Just the id that jquery will hook onto.-->
<a href="#" id="loadMore">Load more Posts</a>
<hr>
<!-- List of posts >> {% include "snippets.html" with list=object_list %}    -->

{% endblock %}
