{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <img class="mr-3" src="{% static 'imgs/user.ico' %}" alt="Generic placeholder image" style="height:70px; width:70px;">
      <h1 style="display:inline;">{{object.username}}</h1>
    </div>
    <div class="col-sm-9 col-xs-12">
      <h1>Posts</h1>
        {% for post in object.post_set.all %}
          <p>- {{post}}</p><br>
        {% endfor %}
    </div>
  </div>
{% endblock %}
