{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <img class="mr-3" src="{% static 'imgs/user.ico' %}" alt="Generic placeholder image" style="height:70px; width:70px;">
      <h1 style="display:inline;">{{object.username}}</h1>
      <div class="info">
        <p style="display:inline;" class="mr-1">Followers: {{object.followed_by.count}}</p> |
        <!--
        We have to add profile to take into account the profiles that another user is following.
        To get the count we can use ;
          {{object.profile.following.count}} or
          {{object.profile.get_following.count}} to use the method that excludes the user instance.
       -->
        <p style="display:inline;" class="ml-1">Following: {{object.profile.get_following.count}}</p>
      </div>
      <a href="{{object.profile.follow_url}}">
        {% if following %}
          Unfollow
        {% else %}
          Follow
        {% endif %}
      </a>
      <hr>
    <!-- Follow details -->
      <h1>Following</h1>
      <!-- Note that object.profile is the user instance and following is all the other profiles related to our user instance -->
      {% for user in object.profile.get_following.all  %}
        <a href="{% url 'accounts:user_details' username=user.username %}">{{user.username}}</a>
        <br>
      {% empty %}
        <h4>Not following anyone currently</h4>
      {% endfor %}
      <hr>

      <h1>Followed by</h1>
      {% for profile in object.followed_by.all  %}
      <a href="{% url 'accounts:user_details' username=profile.user.username %}">{{profile.user.username}}</a>
        <br>
      {% empty %}
        <h4>No followers currently.</h4>
      {% endfor %}
      <hr>

      <h1>Recommended</h1>
      {% for profile in recommended  %}
      <a href="{% url 'accounts:user_details' username=profile.user.username %}">{{profile.user.username}}</a>
        <br>
      {% empty %}
        <h4>No followers currently.</h4>
      {% endfor %}
      <hr>
    </div>
    <div class="col-md-9 col-xs-12">
      <!-- Posts -->
      <h1>Posts</h1>
      <!-- Ajax content -->
      <div id="post-container" data-url='/api/accounts/{{object.username}}/posts/'>

      </div>
      <!-- Load more note that we actually do not need the href for load more to work. Just the id that jquery will hook onto.-->
      <a href="#" id="loadMore">Load more Posts</a>

      <!-- Django content
        {% for post in object.post_set.all %}
          <p>- {{post}}</p><br>
        {% endfor %}
      -->

    </div>
  </div>
{% endblock %}
