body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster|Sacramento|Open+Sans|Quicksand|Raleway|Lobster+Two');

h1 {
  font-family: 'Julius Sans One', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /* font-family: 'Raleway', sans-serif; */
}
h2 {
  font-family: 'Julius Sans One', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /* font-family: 'Raleway', sans-serif; */
}

* {

  /*font-family: 'Lobster', cursive;*/
  /*font-family: 'Julius Sans One', sans-serif;*/
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /* font-family: 'Raleway', sans-serif; */
}
